<div class="container my-container">
    <div class="card justify-content-md-center">
      <div class="card-header text-center">
        <h3>S'inscrire</h3> 
      </div>
        <div class="cadr-body">
          <div class="mb-3"> 
            <input type="text" class="form-control" id="login" placeholder="Nom">
          </div>
          <div class="mb-3"> 
            <input type="text" class="form-control" id="login" placeholder="CodeFiscal">
          </div>
          <div class="mb-3"> 
            <input type="email" class="form-control" id="login" placeholder="name@example.com">
          </div>
          <div class="mb-3"> 
            <input type="text" class="form-control" id="login" placeholder="Adresse1">
          </div>
          <div class="mb-3"> 
            <input type="text" class="form-control" id="login" placeholder="Adresse2">
          </div>
          <div class="mb-3"> 
            <input type="text" class="form-control" id="login" placeholder="Ville">
          </div>
          <div class="mb-3"> 
            <input type="text" class="form-control" id="login" placeholder="Code postale">
          </div>
          <div class="mb-3"> 
            <input type="text" class="form-control" id="login" placeholder="Pays">
          </div>
          <div class="mb-3"> 
            <input type="password" class="form-control" id="login" placeholder="Mots de passe">
          </div>
          <div class="mb-3"> 
            <input type="password" class="form-control" id="login" placeholder="Confirmer mots passe">
          </div>
          <div class="mb-3 d-flex justify-content-between">
            <a [routerLink]="['/login']"  class="btn btn-link">
                Se connecter
            </a>
            <button type="button" class="btn btn-primary"><i class="fa-solid fa-check"></i>&nbsp;S'inscrire</button>
          </div>
        </div>
      </div>
</div>



