<div class="container my-container">
    <div class="card justify-content-md-center">
        <div class="card-header text-center">
            <h2>Se Connecter</h2>
        </div>
       <div class="card-body">
            <div class="mb-3">
                <label for="inputEmail">Email address</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="E-mail">
            </div>
            <div class="mb-3">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder=".........">
            </div>
            <div class="mb-3 d-flex justify-content-between">
                <a [routerLink]="['/register']" type="button" class="btn btn-link">S'inscrire</a>
                <button type="button" class="btn btn-primary"><i class="fa-solid fa-check"></i>&nbsp; Se connecter</button>
            </div>
       </div>
    </div>
</div>